label {
  color: #e27380;
  font-size: 24px;
}
#add1 {
  width: 40%;
  border-radius: 10px;
}
.radio {
margin: 20px;
font-size: 30px;

}
#born {
 width: 40%;
  border-radius: 10px;
}
#color {
  margin: 20px;
  border-radius: 10px;
}
.btn {
  font-size: 30px;
  border-radius: 10px;
}
#output
