label {
  color: #e27380;
  font-size: 24px;
}
#add {
  width: 40%;
  border-radius: 10px;
}
.radio {
margin: 20px;
font-size: 30px;

}
#born {
 width: 40%;
  border-radius: 10px;
}
#color {
  margin: 20px;
  border-radius: 10px;
}
.btn {
  font-size: 30px;
  border-radius: 10px;
}
.well{
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 10px;
}
#your_name{
  border-radius: 10px;
}
